<div>
    <h2 id="page-heading">
        <span jhiTranslate="ahomeApp.work.home.title">Works</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-work" [routerLink]="['/work/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ahomeApp.work.home.createLabel">
            Create a new Work
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="works?.length === 0">
        <span jhiTranslate="ahomeApp.work.home.notFound">No works found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="works && works.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="ahomeApp.work.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="ahomeApp.work.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="picture"><span jhiTranslate="ahomeApp.work.picture">Picture</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="icone"><span jhiTranslate="ahomeApp.work.icone">Icone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pricePerHour"><span jhiTranslate="ahomeApp.work.pricePerHour">Price Per Hour</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="category.id"><span jhiTranslate="ahomeApp.work.category">Category</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let work of works ;trackBy: trackId">
                    <td><a [routerLink]="['/work', work.id, 'view']">{{ work.id }}</a></td>
                    <td>{{ work.name }}</td>
                    <td>{{ work.description }}</td>
                    <td>{{ work.picture }}</td>
                    <td>{{ work.icone }}</td>
                    <td>{{ work.pricePerHour }}</td>
                    <td>
                        <div *ngIf="work.category">
                            <a [routerLink]="['/work-category', work.category?.id, 'view']" >{{ work.category?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/work', work.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/work', work.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(work)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="works && works.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
