<div>
    <h2 id="page-heading">
        <span jhiTranslate="ahomeApp.address.home.title">Addresses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-address" [routerLink]="['/address/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ahomeApp.address.home.createLabel">
            Create a new Address
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="addresses?.length === 0">
        <span jhiTranslate="ahomeApp.address.home.notFound">No addresses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="addresses && addresses.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="ahomeApp.address.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="location"><span jhiTranslate="ahomeApp.address.location">Location</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="geolocation"><span jhiTranslate="ahomeApp.address.geolocation">Geolocation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="primaryPhoneNumber"><span jhiTranslate="ahomeApp.address.primaryPhoneNumber">Primary Phone Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="secondaryPhoneNumber"><span jhiTranslate="ahomeApp.address.secondaryPhoneNumber">Secondary Phone Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="emailAddress"><span jhiTranslate="ahomeApp.address.emailAddress">Email Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="city.id"><span jhiTranslate="ahomeApp.address.city">City</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="appUser.id"><span jhiTranslate="ahomeApp.address.appUser">App User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let address of addresses ;trackBy: trackId">
                    <td><a [routerLink]="['/address', address.id, 'view']">{{ address.id }}</a></td>
                    <td jhiTranslate="{{ 'ahomeApp.AddressType.' + address.type }}">{{ address.type }}</td>
                    <td>{{ address.location }}</td>
                    <td>{{ address.geolocation }}</td>
                    <td>{{ address.primaryPhoneNumber }}</td>
                    <td>{{ address.secondaryPhoneNumber }}</td>
                    <td>{{ address.emailAddress }}</td>
                    <td>
                        <div *ngIf="address.city">
                            <a [routerLink]="['/city', address.city?.id, 'view']" >{{ address.city?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="address.appUser">
                            <a [routerLink]="['/app-user', address.appUser?.id, 'view']" >{{ address.appUser?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/address', address.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/address', address.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(address)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="addresses && addresses.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
