<div>
    <h2 id="page-heading">
        <span jhiTranslate="ahomeApp.workCategory.home.title">Work Categories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-work-category" [routerLink]="['/work-category/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ahomeApp.workCategory.home.createLabel">
            Create a new Work Category
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="workCategories?.length === 0">
        <span jhiTranslate="ahomeApp.workCategory.home.notFound">No workCategories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="workCategories && workCategories.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="ahomeApp.workCategory.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="ahomeApp.workCategory.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="picture"><span jhiTranslate="ahomeApp.workCategory.picture">Picture</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="icone"><span jhiTranslate="ahomeApp.workCategory.icone">Icone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pricePerHour"><span jhiTranslate="ahomeApp.workCategory.pricePerHour">Price Per Hour</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let workCategory of workCategories ;trackBy: trackId">
                    <td><a [routerLink]="['/work-category', workCategory.id, 'view']">{{ workCategory.id }}</a></td>
                    <td>{{ workCategory.name }}</td>
                    <td>{{ workCategory.description }}</td>
                    <td>{{ workCategory.picture }}</td>
                    <td>{{ workCategory.icone }}</td>
                    <td>{{ workCategory.pricePerHour }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/work-category', workCategory.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/work-category', workCategory.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(workCategory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="workCategories && workCategories.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
