<div>
    <h2 id="page-heading">
        <span jhiTranslate="ahomeApp.workRequest.home.title">Work Requests</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-work-request" [routerLink]="['/work-request/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ahomeApp.workRequest.home.createLabel">
            Create a new Work Request
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="workRequests?.length === 0">
        <span jhiTranslate="ahomeApp.workRequest.home.notFound">No workRequests found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="workRequests && workRequests.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="creationDateTime"><span jhiTranslate="ahomeApp.workRequest.creationDateTime">Creation Date Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="forMysef"><span jhiTranslate="ahomeApp.workRequest.forMysef">For Mysef</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="constructionSite"><span jhiTranslate="ahomeApp.workRequest.constructionSite">Construction Site</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mediatorPercentage"><span jhiTranslate="ahomeApp.workRequest.mediatorPercentage">Mediator Percentage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="detailedDescription"><span jhiTranslate="ahomeApp.workRequest.detailedDescription">Detailed Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="magnitude"><span jhiTranslate="ahomeApp.workRequest.magnitude">Magnitude</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estimatedWorkFees"><span jhiTranslate="ahomeApp.workRequest.estimatedWorkFees">Estimated Work Fees</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="plannedStartDateTime"><span jhiTranslate="ahomeApp.workRequest.plannedStartDateTime">Planned Start Date Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="plannedEndDateTime"><span jhiTranslate="ahomeApp.workRequest.plannedEndDateTime">Planned End Date Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="ahomeApp.workRequest.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="work.id"><span jhiTranslate="ahomeApp.workRequest.work">Work</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.id"><span jhiTranslate="ahomeApp.workRequest.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="address.id"><span jhiTranslate="ahomeApp.workRequest.address">Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let workRequest of workRequests ;trackBy: trackId">
                    <td><a [routerLink]="['/work-request', workRequest.id, 'view']">{{ workRequest.id }}</a></td>
                    <td>{{ workRequest.creationDateTime | date:'medium' }}</td>
                    <td>{{ workRequest.forMysef }}</td>
                    <td>{{ workRequest.constructionSite }}</td>
                    <td>{{ workRequest.mediatorPercentage }}</td>
                    <td>{{ workRequest.detailedDescription }}</td>
                    <td jhiTranslate="{{ 'ahomeApp.WorkRequestMagnitude.' + workRequest.magnitude }}">{{ workRequest.magnitude }}</td>
                    <td>{{ workRequest.estimatedWorkFees }}</td>
                    <td>{{ workRequest.plannedStartDateTime | date:'medium' }}</td>
                    <td>{{ workRequest.plannedEndDateTime | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'ahomeApp.WorkRequestStatus.' + workRequest.status }}">{{ workRequest.status }}</td>
                    <td>
                        <div *ngIf="workRequest.work">
                            <a [routerLink]="['/work', workRequest.work?.id, 'view']" >{{ workRequest.work?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="workRequest.user">
                            <a [routerLink]="['/app-user', workRequest.user?.id, 'view']" >{{ workRequest.user?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="workRequest.address">
                            <a [routerLink]="['/address', workRequest.address?.id, 'view']" >{{ workRequest.address?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/work-request', workRequest.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/work-request', workRequest.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(workRequest)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="workRequests && workRequests.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
