<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-id-document-heading" jhiTranslate="ahomeApp.idDocument.home.createOrEditLabel">Create or edit a Id Document</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ahomeApp.idDocument.idDocumentRecto" for="field_idDocumentRecto">Id Document Recto</label>
                    <div>
                        <img [src]="'data:' + editForm.get('idDocumentRectoContentType')!.value + ';base64,' + editForm.get('idDocumentRecto')!.value" style="max-height: 100px;" *ngIf="editForm.get('idDocumentRecto')!.value" alt="idDocument image"/>
                        <div *ngIf="editForm.get('idDocumentRecto')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('idDocumentRectoContentType')!.value }}, {{ byteSize(editForm.get('idDocumentRecto')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('idDocumentRecto', 'idDocumentRectoContentType', 'file_idDocumentRecto')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_idDocumentRecto" (change)="setFileData($event, 'idDocumentRecto', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="idDocumentRecto" id="field_idDocumentRecto"
                           formControlName="idDocumentRecto"/>
                    <input type="hidden" class="form-control" name="idDocumentRectoContentType" id="field_idDocumentRectoContentType"
                           formControlName="idDocumentRectoContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ahomeApp.idDocument.idDocumentVerso" for="field_idDocumentVerso">Id Document Verso</label>
                    <div>
                        <img [src]="'data:' + editForm.get('idDocumentVersoContentType')!.value + ';base64,' + editForm.get('idDocumentVerso')!.value" style="max-height: 100px;" *ngIf="editForm.get('idDocumentVerso')!.value" alt="idDocument image"/>
                        <div *ngIf="editForm.get('idDocumentVerso')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('idDocumentVersoContentType')!.value }}, {{ byteSize(editForm.get('idDocumentVerso')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('idDocumentVerso', 'idDocumentVersoContentType', 'file_idDocumentVerso')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_idDocumentVerso" (change)="setFileData($event, 'idDocumentVerso', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="idDocumentVerso" id="field_idDocumentVerso"
                           formControlName="idDocumentVerso"/>
                    <input type="hidden" class="form-control" name="idDocumentVersoContentType" id="field_idDocumentVersoContentType"
                           formControlName="idDocumentVersoContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ahomeApp.idDocument.type" for="field_type">Type</label>
                    <select class="form-control" id="field_type" name="type" formControlName="type">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="idDocumentTypeOption.id === editForm.get('type')!.value?.id ? editForm.get('type')!.value : idDocumentTypeOption" *ngFor="let idDocumentTypeOption of iddocumenttypes; trackBy: trackById">{{ idDocumentTypeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ahomeApp.idDocument.worker" for="field_worker">Worker</label>
                    <select class="form-control" id="field_worker" name="worker" formControlName="worker">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="workerOption.id === editForm.get('worker')!.value?.id ? editForm.get('worker')!.value : workerOption" *ngFor="let workerOption of workers; trackBy: trackById">{{ workerOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ahomeApp.idDocument.worker" for="field_worker">Worker</label>
                    <select class="form-control" id="field_worker" name="worker" formControlName="worker">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="workerOption.id === editForm.get('worker')!.value?.id ? editForm.get('worker')!.value : workerOption" *ngFor="let workerOption of workers; trackBy: trackById">{{ workerOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
