<div>
    <h2 id="page-heading">
        <span jhiTranslate="ahomeApp.worker.home.title">Workers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-worker" [routerLink]="['/worker/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ahomeApp.worker.home.createLabel">
            Create a new Worker
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="workers?.length === 0">
        <span jhiTranslate="ahomeApp.worker.home.notFound">No workers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="workers && workers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="picture"><span jhiTranslate="ahomeApp.worker.picture">Picture</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="workCertificate"><span jhiTranslate="ahomeApp.worker.workCertificate">Work Certificate</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.id"><span jhiTranslate="ahomeApp.worker.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let worker of workers ;trackBy: trackId">
                    <td><a [routerLink]="['/worker', worker.id, 'view']">{{ worker.id }}</a></td>
                    <td>
                        <a *ngIf="worker.picture" (click)="openFile(worker.pictureContentType, worker.picture)">
                            <img [src]="'data:' + worker.pictureContentType + ';base64,' + worker.picture" style="max-height: 30px;" alt="worker image"/>
                        </a>
                        <span *ngIf="worker.picture">{{ worker.pictureContentType }}, {{ byteSize(worker.picture) }}</span>
                    </td>
                    <td>
                        <a *ngIf="worker.workCertificate" (click)="openFile(worker.workCertificateContentType, worker.workCertificate)">
                            <img [src]="'data:' + worker.workCertificateContentType + ';base64,' + worker.workCertificate" style="max-height: 30px;" alt="worker image"/>
                        </a>
                        <span *ngIf="worker.workCertificate">{{ worker.workCertificateContentType }}, {{ byteSize(worker.workCertificate) }}</span>
                    </td>
                    <td>
                        <div *ngIf="worker.user">
                            <a [routerLink]="['/app-user', worker.user?.id, 'view']" >{{ worker.user?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/worker', worker.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/worker', worker.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(worker)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="workers && workers.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
