<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-work-review-heading" jhiTranslate="ahomeApp.workReview.home.createOrEditLabel">Create or edit a Work Review</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ahomeApp.workReview.reviewDateTime" for="field_reviewDateTime">Review Date Time</label>
                    <div class="d-flex">
                        <input id="field_reviewDateTime" type="datetime-local" class="form-control" name="reviewDateTime" formControlName="reviewDateTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ahomeApp.workReview.starsNumber" for="field_starsNumber">Stars Number</label>
                    <input type="number" class="form-control" name="starsNumber" id="field_starsNumber"
                           formControlName="starsNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ahomeApp.workReview.notes" for="field_notes">Notes</label>
                    <input type="text" class="form-control" name="notes" id="field_notes"
                           formControlName="notes"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ahomeApp.workReview.workRequest" for="field_workRequest">Work Request</label>
                    <select class="form-control" id="field_workRequest" name="workRequest" formControlName="workRequest">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="workRequestOption.id === editForm.get('workRequest')!.value?.id ? editForm.get('workRequest')!.value : workRequestOption" *ngFor="let workRequestOption of workrequests; trackBy: trackById">{{ workRequestOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
